<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery.tablesorter.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/css/metisMenu.css" rel="stylesheet" />
    <link href="~/css/bootstrap-editable.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <link href="~/css/site.css" rel="stylesheet" />

    <title>TechTime - @ViewBag.Title</title>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">TechTime - @User.Identity.Name</a>

            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Create"><i class="fa fa-pencil fa-fw"></i> Create Work Entry</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="History"><i class="fa fa-align-center fa-fw"></i> View History</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Contact"><i class="fa fa-envelope fa-fw"></i> Contact The Boss</a>
                        </li>
                        <li>
                            <a class="text-danger" asp-controller="Auth" asp-action="Logout"><i class="fa fa-sign-out fa-fw text-danger"></i> Logout</a>
                        </li>

                    </ul>
                </div>

            </div>

        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header">@ViewBag.Title</h2>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/sb-admin-2.js"></script>
    <script src="~/js/bootstrap-editable.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
