<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/jquery.tablesorter.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("styles", false)
    <link href="~/css/site.css" rel="stylesheet" />


    <title>TechTime - @ViewBag.Title</title>
</head>
<body>
            <div class="container">
                <h3>put a back and print button here</h3>
                <div class="col-md-8 col-md-offset-2" id="printable">
                    
                    <h2 class="page-header">@ViewBag.Title</h2>
                    @RenderBody()
                    <h5 class="modal-footer">Date printed: @DateTime.Now.ToString("MMM dd, yyyy")</h5>
                </div>
            </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
