@using TechTime.ViewModels
@model JobEntryViewModel
@{
    ViewBag.Title = "Create Work Entry";
}
@section Styles{

}
@section Scripts{
    <script>
        $(document).ready(function () {
            $.fn.editable.defaults.mode = 'popup';
            $('.customer').editable();
        });
    </script>
}

<div class="row">

    <form method="post" class="col-lg-4">
        <div asp-validation-summary="All"></div>
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }
        <div class="form-group">
            <select class="form-control" asp-for="CustomerId">
                @foreach (var item in Model.CustomerList)
            {
                    <option value="@item.CustomerId">@item.Name (@item.CustomerId)</option>
                }
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" asp-for="JobType">
                @foreach (var item in Model.JobTypes)
            {
                    <option value="@item">@item.ToString()</option>
                }
            </select>
        </div>
            <div class="form-group">
                <label asp-for="Hours">Hours</label>
                <input type="number" step="0.25" asp-for="Hours" class="form-control" />
            </div>

        <div class="form-group">
            <label>Contact Name</label>
            <input type="text" asp-for="ContactName" class="form-control"  />
        </div>

            <div class="form-group">
                <label>Work Description</label>
                <textarea textarea asp-for="WorkDescription" class="form-control" rows="3"></textarea>
            </div>

            <div>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>

</form>
</div>