@using TechTime.ViewModels
@model JobEntryViewModel
@{
    ViewBag.Title = "Create Work Entry";
}
@section Styles{

}
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">

    <form method="post" class="col-lg-6 col-lg-offset-3">

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }
        <div class="form-group">
            <label asp-for="CustomerId"></label>
            <select class="form-control" asp-for="CustomerId">
                @foreach (var item in Model.CustomerList)
                {
                    <option value="@item.CustomerId">@item.Name (@item.CustomerId)</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="JobType"></label>
            <select class="form-control" asp-for="JobType">
                @foreach (var item in Model.JobTypes)
                {
                    <option value="@item.Description">@item.Description</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Hours"></label>
            <span class="text-danger" asp-validation-for="Hours"></span>
            <input type="number" step="0.25" asp-for="Hours" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="ContactName"></label>
            <input type="text" asp-for="ContactName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="WorkDescription"></label>
            <span class="text-danger" asp-validation-for="WorkDescription"></span>
            <textarea textarea asp-for="WorkDescription" class="form-control" rows="5"></textarea>
        </div>

        <div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>

    </form>
</div>