@using TechTime.ViewModels
@model List<HistoryViewModel>
@{
    ViewBag.Title = "History";
}
@section Styles{
    <link href="~/css/dataTables.uikit.min.css" rel="stylesheet" />
    <link href="~/css/jasny-bootstrap.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/dataTables.jqueryui.min.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/jasny-bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $.fn.editable.defaults.mode = 'popup';
            $('.workDescription').editable();
        });
    </script>

    <script type="text/javascript">
        $('.dataTable').dataTable({
            "order": [[0, 'desc'], [1, 'desc']],
            "iDisplayLength": 25
        });

    </script>
}

<table class="table table-hover table-responsive dataTable" id="printable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Customer</th>
            <th>Type</th>
            <th>Hours</th>
            <th>Desc.</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
        @foreach (var entry in Model)
            {
            <tr>
                <td>
                    <a asp-controller="Report"
                       asp-action="JobDetails"
                       asp-route-id=@entry.Id></a>@entry.DateCreated.ToString("yyyy/MM/dd")
                </td>
                <td>@entry.Customer.Name (@entry.Customer.CustomerId)</td>
                <td>@entry.JobType</td>
                <td>@entry.Hours</td>
                <td class="rowlink-skip">
                    <a href="#" class="workDescription"
                       data-name="workDescription"
                       data-type="textarea"
                       data-pk=@entry.Id
                       data-url="../api/editdescription"
                       data-title="Enter a new work description">@entry.WorkDescription</a>
                </td>
            </tr>
        }
    </tbody>
</table>


